.Button {
  height: 35px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3em;
  border-radius: 5px;
  font-size: 0.9em;
  background: #333333;
}

.Button:hover {
  cursor: pointer;
  background: #444444;
}

.Button:active {
  transition-duration: 0.2s;
  transform: scale(0.9);
  border-bottom: none;
}

.Button a {
  text-decoration: none;
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Button__image {
  height: 20px;
  width: 20px;
  margin-right: 0.5em;
  text-align: center;
}

@media (max-width: 768px) {
  .Button {
    font-size: 13px;
    margin: 2em;
  }
  .Button__image {
    height: 1.5em;
    width: 1.5em;
  }
}

@media (max-width: 468px) {
  .Button {
    height: 40px;
    width: 80px;
    margin: 1em;
  }
  .Button__image {
    height: 1.5em;
    width: 1.5em;
  }
  .Button a {
    line-height: 40px;
  }
}
