.NavBarContainer {
  position: absolute;
  width: 100vw; /* So there is no horizontal scroll */
  display: flex;
  justify-content: center;
}

.NavBar {
  position: relative;
  display: flex;
  position: relative;
  margin-left: 2vw;
}

@media (max-width: 768px) {
  .NavBarContainer {
    font-size: 0.8em;
  }
}

@media (max-width: 375px) {
  .NavBar {
    width: 70vw;
    justify-content: center;
  }
  .NavBar{
    flex-wrap: wrap;
  }
}

@media (max-width: 320px) {
}
