.NavBarContainer {
  position: absolute;
  width: 98vw; /* So there is no horizontal scroll */
  display: flex;
  justify-content: flex-end;
  height: 8vh;
}

.NavBar {
  position: relative;
  display: flex;
  position: relative;
  margin-right: 4vw;
}

@media (max-width: 768px) {
  .NavBarContainer {
    font-size: 0.8em;
  }
}
