body {
    font-family: 'Space Mono', monospace;
    display: grid;
    margin: 0;
    grid-template: 8vh auto / 5% 10% 70% 15%;
    grid-template-areas: "home . page-tittle dark-mode" ". . content .";
}

body.sun-mode {
    background: black;
    color: white;
}

/*HOME*/

.home {
    grid-area: home;
}

.home img {
    width: 40px;
}

.home a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*PAGE-TITTLE*/

.page-tittle {
    grid-area: page-tittle;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.page-tittle a {
    color: inherit;
    text-decoration: none;
}

/*HOME / PAGE-TITTLE*/

.home, .page-tittle {
    display: fixed;
}

/*DARK MODE*/

.dark-mode {
    grid-area: dark-mode;
    background-image: url(../images/sleep-mode.svg);
    background-repeat: no-repeat;
    background-size: 40px;
    width: 40px;
    background-position-y: 10px;
    cursor: pointer;

}

.dark-mode.sun-mode {
    animation-name: sun-mode;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    will-change: opacity, transform;
}

@keyframes sun-mode {
    0% {
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100% {
        background-image: url(../images/sun.svg);
        transform: scale (1);
    }
}

/*CONTENT*/

.content {
    color: inherit;
    margin-top: 10px;
    grid-area: content;
    display: grid;
    grid-template-columns: 90%;
    justify-content: center;
    height: 100%;
}

/*POST*/

.post {
    border-bottom: 2px solid rgb(107, 106, 106);
    grid-column-end: span 1;
    grid-row-end: span 1;
    display: grid;
    grid-template-rows: [start] 15% [start-post-content] 70% [start-post-date] 15% [end];
    grid-template-areas: "post-tittle" "post-content" "post-date";
    margin: 0 0 30px;
    height: 500px;
    color: inherit;
}

.post a {
    color: inherit;
    font-weight: bold;
    background-position-x: 100%;
    background-position-y: 20%;
    background-size: .6em;
    background-repeat: no-repeat;
    padding-right: 10px;
}

.post-end {
    margin-top: 20px;
}

.post-title {
    grid-area: post-tittle;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.post-title h2 {
    margin: 0;
    font-size: 2.5em;
}

.post-content {
    grid-area: post-content;
}

.post-date {
    grid-area: post-date;
    display: grid;
    grid-template-rows: 25% 75%;
}

.divider, .post-date-text {
    margin: 0;
}

.post-date-text {
    margin-top: 5px;
}

.post-content, .post-date {
    padding: 10px 30px;
}

@media screen and (max-width: 1024px) {
    .post {
        font-size: 14px;
        height: 500px;
    }
}

@media screen and (max-width: 768px) {
    .post {
        font-size: 14px;
        height: 650px;
    }
    body {
        grid-template: 8vh auto / 5% 10% 80% 5%;
        grid-template-areas: ". home page-tittle ." ". content content .";
    }
}

@media screen and (max-width: 480px) {
    .post {
        font-size: 12px;
    }
    body {
        grid-template: 8vh auto /10% 90%;
        grid-template-areas: "home page-tittle" "content content";
    }
    .content {
        margin-top: 0;
    }
}

@media screen and (max-width: 320px) {
    .post {
        font-size: 11px;
        height: 700px;
    }
    body {
        grid-template: 8vh auto /20% 80%;
        grid-template-areas: "home page-tittle" "content content";
    }
    .post {
        grid-template-rows: [start] 10% [start-post-content] 80% [start-post-date] 15% [end];
    }
}