body {
    font-family: 'Space Mono', monospace;
    display: grid;
    margin: 0;
    background: white;
    grid-template: 8vh 92vh / 5% 10% 70% 15%;
    grid-template-areas: "home page-tittle page-tittle page-tittle" ". . content .";
}

.item {
    /*     border: 1px solid black; */
}

.home {
    grid-area: home;
}

.home img {
    width: 40px;
}

.home a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-tittle {
    grid-area: page-tittle;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.page-tittle a {
    color: black;
    text-decoration: none;
}

.home, .page-tittle {
    display: fixed;
    background: #FFF7E4;
   
}

.content {
    margin-top: 10px;
    grid-area: content;
    display: grid;
    background: #FFF7E4;
    grid-template-columns: 90%;
    grid-gap: 5%;
    justify-content: center;
}

.post-end{
    margin-top: 20px;
}

.post{
    background: white;
    border: 8px solid #DBC68F;
    border-radius: 5px;
    grid-column-end: span 1;
    grid-row-end: span 1;
}

.content .item{
    border: 1px solid black;
}