@font-face {
  font-family: "icomoon";
  src: url("../../fonts/icomoon.eot?s8hcxg");
  src: url("../../fonts/icomoon.eot?s8hcxg#iefix") format("embedded-opentype"),
    url("../../fonts/icomoon.ttf?s8hcxg") format("truetype"),
    url("../../fonts/icomoon.woff?s8hcxg") format("woff"),
    url("../../fonts/icomoon.svg?s8hcxg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eac9";
}

.CardHome {
  background: #f4f4f600;
  width: 500px;
  height: 500px;
  border-radius: 10px;
  display: grid;
  grid-template-areas: "Header" "Bio" "Social" "Footer";
  grid-template-rows: 25% 50% 15% 10%;
}

.CardHome__header {
  grid-area: Header;
  display: flex;
}

.Header__picture {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  padding: 2em;
}

.Header__description {
  padding-top: 3em;
  font-size: 1.1em;
}

.Header__description p {
  margin: 0;
}

.CardHome__bio {
  grid-area: Bio;
}

.Bio__title {
  margin-top: 2em;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

.Bio__description {
  margin: 0 1em 0 1em;
  text-indent: 1.5em;
}

.Bio__description a {
  background-image: url("../../images/link.svg");
  background-position-x: 100%;
  background-position-y: 20%;
  background-size: 0.6em;
  background-repeat: no-repeat;
  padding-right: 10px;
  margin: 0 5px 0 5px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.Bio__description a:hover,
.CardHome__social a:hover,
.CardHome__footer a:hover {
  color: #fd6901;
}

.CardHome__social {
  grid-area: Social;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.CardHome__social a {
  text-decoration: none;
  color: black;
  font-size: 2em;
}

/* To avoid the error: Anchors must have content and the content must be accessible by a screen reader */
.CardHome__social a span {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;
}

.CardHome__footer {
  grid-area: Footer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CardHome__footer a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin-left: 10px;
  font-family: 'Pacifico', cursive;
  font-size: 1em;
}

.Footer__heart {
  margin: 0 5px 0 5px;
}

@media (max-width: 768px) {
  .CardHome {
    width: 400px;
    height: 400px;
    font-size: 13px;
  }
  .Header__picture {
    height: 90px;
    width: 90px;
  }
}

@media (max-width: 480px) {
  .CardHome {
    width: 350px;
    height: 350px;
    font-size: 12px;
  }
  .Header__picture {
    height: 80px;
    width: 80px;
  }
}

@media (max-width: 320px) {
  .CardHome {
    width: 300px;
    height: 300px;
  }

  .Header__description{
    padding-top: 20px;
  }
  .Header__picture {
    height: 50px;
    width: 50px;
  }
  .Bio__title {
    margin-top: 1.5em;
    font-size: 20px;
  }
}
