html{
  overflow-x: hidden;
}

.Home {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}


@media (max-width: 768px) {
  .Home {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .Home {
    font-size: 16px;
  }
}

@media (max-width: 320px) {
  .Home {
    font-size: 16px;
  }

}