.Blog {
    margin: auto;
    flex-wrap: wrap;
    padding-top: 20vh;
    padding-bottom: 10vh;
    background-color: rgb(236, 235, 235);
    display: flex;
    justify-content: center;
}

.Category__wrapper {
    font-size: 20px;
    width: 60vw;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.Blog__post {
    width: 60vw;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
}

.Post__link {
    color: #443e35;
    text-decoration: underline;
    text-decoration-line: underline;
    text-decoration-style: initial;
    text-decoration-color: #f2930d;
}

.Post__link:hover {
    color: #f2930d;
}

.Blog__category {
    margin-bottom: 0px;
    padding-bottom: 10px;
}

@media (max-width: 768px) {
    .Blog {
        padding-top: 15vh;
    }
}

@media (max-width: 320px) {
    .Blog {
        padding-top: 25vh;
    }
}