.Blog {
  height: 85vh;
  widows: 100vw;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 15vh;
  background-image: url("../../images/Home/wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1024px) {
 
}
@media (max-width: 768px) {
  
}

@media (max-width: 480px) {
 
}
