.Content {
  padding: 1em;
  padding-top: 2em;
  grid-area: Content;
  display: grid;
  grid-template-areas: "Body" "Controls" "Pages";
  grid-template-rows: 85% 10% 5%;
  background: #f4f4f6;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.Content__body {
  grid-area: Body;
}

.Body__header.noShow {
  display: none;
}

.Header__title {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

.Header__date,
.Item__date {
  font-size: 12px;
  margin: 0;
  height: 1em;
  width: 60px;
  padding: 0.5em;
  border-radius: 5px;
  background: #ceead6;
  color: #0d652c;
}

.Content__controls {
  grid-area: Controls;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Content__controls.noShow {
  display: none;
}

.Controls__botton {
  height: 30px;
  width: 90px;
  background: rgba(255, 255, 255, 0.658);
  border-bottom: 1px solid rgb(68, 68, 68);
  border-radius: 5px;
  margin-right: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Controls__botton img {
  height: 15px;
  width: 15px;
}

.Controls__botton:active {
  transition-duration: 0.2s;
  transform: scale(0.7);
  border: none;
}

.Controls__botton:hover {
  background: #fef7e0;
}

.Controls__botton:hover {
  cursor: pointer;
}

.Content__pages {
  grid-area: Pages;
  font-size: 0.9em;
  margin: 0;
  height: 1em;
  width: 90px;
  padding: 0.5em;
  border-radius: 5px;
  background: #fce8e6;
  color: #b31312;
  text-align: center;
}

.Posts__list {
  margin-top: 20px;
}

.List__item {
  grid-area: Pages;
  font-size: 0.9em;
  margin: 0;
  margin-bottom: 10px;
  height: 50px;
  padding: 0.5em;
  border-radius: 5px;
  background: #fce8e6;
}

.List__item:hover {
  cursor: pointer;
  background: #FEDAAA;
}

.List__item:hover .Item__date{
  background: rgb(240, 175, 91);
  color: rgb(109, 62, 0);
}

.Item__title {
  margin-left: 10px;
}

.Code{
  font-family: 'Ubuntu Mono', monospace;
  background: rgb(129, 129, 129);
  background-image: url("../../images/Blog/code.svg");
  background-position-x: 98%;
  background-position-y: 20%;
  background-size: 1em;
  background-repeat: no-repeat;
  color: white;
  padding: 15px;
  border-radius: 5px;
}

.Code p{
  margin: .5em;
}

.Body__content a{
  text-decoration: none;
  background-image: url("../../images/link.svg");
  background-position-x: 100%;
  background-position-y: 20%;
  background-size: 0.6em;
  background-repeat: no-repeat;
  padding-right: 17px;
  color: black;
  font-weight: bold;
  
}

.Body__content a:hover{
  color: #fd6901;
}