.Post_graper {
  display: flex;
  justify-content: center;
  padding-bottom: 30vh;
  background: #F5EDDD;
}

.Post {
  width: 60vw;
  flex-wrap: wrap;
  position: relative;
  top: 10vh;
  font-size: 20px;
  background: #F5EDDD;
  padding: 5vw;
}

h1, h2 {
  font-family: 'Quicksand', sans-serif;
}

h1 {
  margin-top: 0;
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
}

.Post__date img {
  height: 15px;
  width: 15px;
  margin-right: 5px;
}

.Post__date {
  font-size: 0.6em;
  margin-bottom: 4em;
  color: #757575;
}

.Post p {
  margin-bottom: 30px;
}

.Post a {
  text-decoration: none;
  color: blue;
}

.Post a:hover {
  text-decoration: underline;
}

.Citation {
  border-left: 4px solid black;
  padding: 10px;
  padding-left: 15px;
  font-style: italic;
  background: rgb(230, 222, 207);
}

@media (max-width: 768px) {
  .Post {
    width: 90vw;
  }
  iframe {
    width: 479px;
    height: 360px;
  }
}

@media (max-width: 480px) {
  .Post {
    font-size: 16px;
    padding-top: 10vh;
    top: 10vh;
  }
  iframe {
    width: 319px;
    height: 240px;
  }
}

@media (max-width: 375px) {
  .Post {
    top: 20vh;
  }
}

@media (max-width: 320px) {
  .Post {
    font-size: 16px;
  }
  iframe {
    width: 240px;
    height: 180px;
  }
}