.Post {
  font-family: 'Roboto Slab', serif;
  width: 60vw;
  margin: auto;
  flex-wrap: wrap;
  padding-top: 20vh;
  margin-bottom: 10vh;
  font-size: 20px;
  background: #f1f5f9;
}

h1 {
  margin-top: 0;
  margin-bottom: .5em;
  display: flex;
  justify-content: center;
}

.Post__date {
  font-size: 0.6em;
  margin-bottom: 4em;
  color: #757575
}

.Post p{
   text-align: justify;
}

.Post a{
  text-decoration: none;
}

.Post a:hover{
  text-decoration: underline;
}

.Citation{
  border-left: 4px solid black;
  padding: 10px;
  padding-left: 15px;
  font-style: italic;
   background: rgb(234, 238, 241);
}

@media (max-width: 768px) {
  .Post{
    width: 90vw;
  }
}

@media (max-width: 480px) {
  .Post{
    font-size: 16px;
    padding-top: 15vh;
  }
}
