.Contact {
  height: 80vh;
  widows: 100vw;
  background-image: url("../../images/wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 20vh;
}
