body {
    font-family: 'Space Mono', monospace;
    margin: 0;
    background-image: url(../images/fondo.jpg);
    background-size: 100vw;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 15vh 70vh 15vh;
    grid-template-areas: ". . ." ". card ." ". . .";
}

.card {
    border-bottom: 6px solid black;
    border-right: 6px solid black;
    grid-area: card;
    background: white;
    height: 100%;
    display: grid;
    margin: 0;
    padding-top: 5%;
    justify-content: center;
    align-content: center;
    grid-template-columns: [start] 4.29% [start-content] 13.06% [content-1] 13.06% [content-2] 13.06% [content-3] 13.06% [content-4] 13.06% [content-5] 13.06% [content-6] 13.06% [end-content] 4.29% [end];
    grid-template-rows: [start] 13.06% [end-name] 13.06% [end-where] 41.82% [end-bio] 9% [end-blog] 13.06% [end-social] 5% [end];
    grid-template-areas: ". profile-picture profile-picture name name name name name ." ". profile-picture profile-picture doing doing doing doing doing ." ". little-bio little-bio little-bio little-bio little-bio little-bio little-bio ." ". contact contact . . . blog blog ." ". social-twitter . social-github . social-instagram . social-linkedin ." " footer footer footer footer footer footer footer footer footer";
}

.item {
    /*     border: 1px solid black; */
    padding: 10px;
    border-radius: 5px;
}

/*PROFILE-PICTURE*/

.profile-picture {
    grid-area: profile-picture;
}

.profile-picture img {
    width: 100%;
    border-radius: 50%;
}

/*NAME / DOING*/

.name-text, .doing {
    padding: 3px;
    padding-top: 10px;
    padding-left: 10%;
}

/*NAME*/

.name {
    grid-area: name;
    padding: 0;
}

.name p {
    margin: 1px;
}

.name .divider {
    text-align: center;
    padding: auto;
}

/*DOING*/

.doing {
    grid-area: doing;
}

/*LITTLE-BIO*/

.little-bio {
    grid-area: little-bio;
}

.little-bio h2 {
    text-align: center;
}

.little-bio-description {
    padding: 10px;
    font-size: .9em;
}

.little-bio-description a{
    background-image: url("../images/link-symbol.svg");
    background-position-x: 100%;
    background-position-y: 20%;
    background-size: .6em;
    background-repeat: no-repeat;
    padding-right: 10px;
}

.little-bio a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/*CONTACT*/

.contact {
    grid-area: contact;
}

/*BLOG*/

.blog {
    grid-area: blog;
}

/*CONTACT / BLOG*/

.blog, .contact {
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    padding: 0;
}

.blog a, .contact a {
    display: flex;
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.blog:hover, .contact:hover {
    background: rgb(41, 41, 41);
    border-bottom: 3px solid rgb(122, 121, 121);
    border-right: 3px solid rgb(122, 121, 121);
}

.blog:hover a, .contact:hover a {
    color: white;
}

/*SOCIAL*/

.social-twitter, .social-github, .social-instagram, .social-linkedin {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-twitter a {
    width: 100%;
}

.social-github img, .social-twitter img, .social-instagram img, .social-linkedin img {
    width: 100%;
}

.social-twitter {
    grid-area: social-twitter;
}

.social-github {
    grid-area: social-github;
}

.social-instagram {
    grid-area: social-instagram;
}

.social-linkedin {
    grid-area: social-linkedin;
}

/*FOOTER*/

.footer {
    grid-area: footer;
    text-align: center;
}

.footer p {
    margin: 0;
}

.footer a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

/*MEADIA QUERIES*/

@media screen and (max-width: 1024px) {
    body {
        grid-template-columns: 15vw 70vw 15vw;
        grid-template-rows: 15vh 70vh 15vh;
        background-size: 400vh;
        font-size: 15px;
    }
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 480px) {
    body {
        grid-template-columns: 10vw 80vw 10vw;
        grid-template-rows: 10vh 80vh 10vh;
        font-size: 10px;
    }

    .card{
        padding-top: 0;
    }


    .little-bio h2{
        margin: 0;
    }

    .social-github, .social-instagram, .social-linkedin, .social-twitter{
        padding: 5px;
    }
}

@media screen and (max-width: 320px) {
    body {
        grid-template-columns: 10vw 80vw 10vw;
        grid-template-rows: 10vh 80vh 10vh;
        font-size: 10px;
        font-size: 8px;
    }


}