body {
    font-family: 'Space Mono', monospace;
    margin: 0;
}

.card {
    height: 700px;
    width: 700px;
    display: grid;
    justify-content: end;
    grid-template-columns: [start] 1fr [start-content] 1fr [content-1] 1fr [content-2] 1fr [content-3] 1fr [content-4] 1fr [content-5] 1fr [content-6] 1fr [end-content] 1fr [end];
    grid-template-rows: [start] 15% [end-name] 15% [end-where] 40% [end-bio] 20% [end-social] 10% [end];
    grid-template-areas: ". profile-picture profile-picture . name name name name ."
                         ". profile-picture profile-picture . where-live where-live where-live where-live ."
                         ". little-bio little-bio little-bio little-bio little-bio little-bio little-bio ."
                         ". social-twitter . social-github . social-instagram . social-linkedin ."
                         " footer footer footer footer footer footer footer footer footer";
}

.item{
    border: 1px solid black;
}

.profile-picture{
    grid-area: profile-picture;
}
.name{
    grid-area: name;
}
.where-live{
    grid-area: where-live;
}
.little-bio{
    grid-area: little-bio;
}
.social-twitter{
    grid-area: social-twitter;
}
.social-github{
    grid-area: social-github;
}
.social-instagram{
    grid-area: social-instagram;
}
.social-linkedin{
    grid-area: social-linkedin;
}
.footer{
    grid-area: footer;
}


@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 480px) {
   
}

@media screen and (max-width: 320px) {
   
}